:root {
  --primary-color: #0A9DFF; /* Bright Blue */
  --secondary-color: #1D5BB9; /* Deep Blue */
  --accent-color: #ffffff; /* Vibrant Green */

  --background-color: #ffffff; /* Light background */
  --card-background: #f5f5f5; /* Light card background */
  --text-color: #000000; /* Dark text */
  --border-color: #dddddd; /* Light borders */

  --button-hover-background: #6200ee; /* Dark Blue for hover */
}

[data-theme='dark'] {
  --background-color: #121212; /* Dark Background */
  --card-background: #1e1e1e; /* Slightly lighter dark for cards */
  --text-color: #ffffff; /* White text */
  --border-color: #333333; /* Dark borders */
  
  --button-hover-background: #3700b3; /* Darker blue for hover */
}
